.name {
  display        : flex;
  justify-content: center;
  align-items    : center;
  gap            : 5px;
  text-wrap      : nowrap;
}



.sort_image {
  width      : 10px;
  height     : 10px;
  margin-left: 5px;
}