.form {
    display            : flex;
    flex-direction     : column;
    gap                : 10px;
    max-width          : 400px;
    /* margin          : 20px auto; */
    padding            : 20px;
    border             : 1px solid #ccc;
    border-radius      : 8px;
    background-color   : #f9f9f9;
}

input {
    padding      : 10px;
    font-size    : 14px;
    border       : 1px solid #ccc;
    border-radius: 4px;
    outline      : none;
    transition   : border-color 0.2s ease;
}

input:focus {
    border-color: #007bff;
}

button {
    padding         : 10px 15px;
    font-size       : 16px;
    color           : #fff;
    background-color: #007bff;
    border          : none;
    border-radius   : 4px;
    cursor          : pointer;
}

button:hover {
    background-color: #0056b3;
}

.table_container {
    display       : flex;
    flex-direction: column;
    gap           : 20px;
}

form {
    margin-top: 20px;
}